#ohsnap {
position: fixed;
bottom: 5px;
right: 5px;
margin-left: 5px;
z-index: 99;
}
.alert {
text-align: right;
margin-top: 10px;
padding: 15px;
border: 1px solid #dddddd;
border-radius: 4px;
float: right;
clear: right;
position: relative;
text-shadow: 0 1px 0 #444444;
opacity: 0.8;
}
.alert-orange {
color: white;
background-color: #ff8300;
font-weight: bold;
border-color: #666666;
}
.alert-white {
color: white;
background-color: #ff8300;
}
